@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Risto Popov Street<br />
    City: Veles<br />
    Country: Macedonia<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:done.gogov@yahoo.com">done.gogov@yahoo.com</a><br />
</address>
