@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-sm-12">
            <img src="~/images/Website under construction.png" alt="Website under construction" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="~/images/Facebook Messenger Chatbot.png" alt="Facebook Messenger Chatbot" class="img-responsive" />
        </div>
    </div>

